doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/require.js')
    script(src='javascripts/require_config.js')
  body
    block content
