extends layout

block script
  script(src='javascripts/love_letter.js')
  script(src='//www.gstatic.com/cast/sdk/libs/receiver/2.0.0/cast_receiver.js')
  script(src='//www.gstatic.com/cast/sdk/libs/games/1.0.0/cast_games_receiver.js')
