body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  display: flex;
  justify-content: space-between;
}

.mastermind {
  display: flex;
  flex-flow: column nowrap;
}

.hidden {
  display: none;
}

.row {
  display: flex;
  flex-flow: column nowrap;
  margin: 10px auto;
}

.pegs {
  display: flex;
  flex-flow: row nowrap;
}

.peg-group {
  display: flex;
  flex-flow: row wrap;
  width: 35px;
}

.peg-group .peg {
  width: 15px;
  height: 15px;
}

.guess-group {
  display: inline-block;
  border: 1px solid black;
}

.guess,
.peg {
  display: inline-block;
  border-color: #999;
  border-style: solid;
  border-width: 1px;
}

.guess {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.peg {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.colored-peg--red {
  background-color: red;
}

.colored-peg--green {
  background-color: green;
}

.colored-peg--blue {
  background-color: blue;
}

.colored-peg--yellow {
  background-color: yellow;
}

.colored-peg--brown {
  background-color: brown;
}

.colored-peg--orange {
  background-color: orange;
}

.colored-peg--black {
  background-color: black;
}

.colored-peg--white {
  background-color: white;
}

.colored-peg--blank {
  background-color: grey;
}

.peg-white {
  background-color: white;
}

.peg-black {
  background-color: black;
}

.peg-blank {
  background-color: lightgray;
}

.peg.unsolved {
  background-color: #abc;
}

.current-row {
  border: 5px solid green;
}
